@tailwind base;
@tailwind components;
@tailwind utilities;

.authpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.authpage form {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-width: 30%;
  min-height: 500px;
  padding: 40px 20px;
}
.authpage form label {
padding: 20px 0px 10px 0px;  
}
.authpage form h1 {
  font-size: 20px;
}
.authpage input {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 15px;
  border-radius: 5px;
  margin-bottom:10px
}

/* loaders */
